<!doctype html>
<html lang="en">
  <head>
    <style>
        body {
            background-image: url(https://media.istockphoto.com/photos/wooden-english-letters-background-picture-id866240994?k=20&m=866240994&s=612x612&w=0&h=NlJmUCOa4bWXNNqS_m_jC6NV3SCx2Un80sPVqc0At6A=);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

    </style>
    <title>Add Word</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body style="text-align: center;"
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <form action="/add_word/" method="post">{% csrf_token %}
        <div class="form-group">
            <h1><center>&nbsp;</center></h1>
            <h1><center>&nbsp;</center></h1>
          <label for="word" style="color: rgb(27, 24, 27);font-style: oblique; font-weight: 900;"><center>Word</label></center>
          <input type="text" class="form-control" name="word" id="word" ;">
        </div>
        <div class="form-group">
            <label for="comonmistake_1 " style="color: rgb(20, 16, 20);font-style: oblique; font-weight: 900;"><center>Comon Mistake 1</label></center>
            <input type="text" class="form-control" name="comonmistake_1" id="comonmistake_1">
        </div>
        <div class="form-group">
            <label for="comonmistake_2" style="color: rgb(20, 2, 20);font-style: oblique;font-weight: 900;"><center>Comon Mistake 2</label></center>
            <input type="text" class="form-control" name="comonmistake_2" id="comonmistake_2">
        </div>
        <div class="form-group">
            <label for="comonmistake_3" style="color: rgb(22, 22, 22);font-style: oblique; font-weight: 900;font-stretch: semi-condensed;"><center>Comon Mistake 3</label></center>
            <input type="text" class="form-control" name="comonmistake_3" id="comonmistake_3">
        </div>
        <button type="submit" class="btn btn-primary" style="color: rgb(63, 10, 63) ; font-size: initial; font-style: oblique; font-weight: 900;"><center>Submit</button></center>
        <h1><center>&nbsp;</center></h1>
        <a href="/" style="color: rgb(247, 248, 174);font-size:xx-large;font-style: oblique"><center><botton> &nbsp;&nbsp;Home Page</botton></center></a>
    </form>
  </body>
</html>