<!doctype html>
<html lang="en">
  <head>
      <style>
          body {
              background-image: url(https://media.istockphoto.com/photos/wooden-english-letters-background-picture-id843643102?k=20&m=843643102&s=612x612&w=0&h=QN0tCrlDYo19pCa1_-1suelFtIE9l_p7caKRrzwXqx8=);
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
          }

      </style>
    <title>Spelling App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <h1><center>&nbsp;</center></h1>
    <h1><center>&nbsp;</center></h1>
    <h1><center>&nbsp;</center></h1>
    <h1 style="color: rgb(247, 242, 242)";><center>Welcome To Web App </center></h1>
    <h3 style="color: rgb(247, 242, 242)";><center>This Site Is Built To Help You Improve Your Spelling Skills  </center></h3>
    <h1><center>&nbsp;</center></h1>
    <h1><center>&nbsp;</center></h1>
    <a href="/lessons/" style="color: rgb(247, 248, 174); font-size:xx-large;font-style: oblique;"><center><botton>Lessons</botton></center></a>
    <a href="/add_word/" style="color: rgb(247, 248, 174); font-size:xx-large;font-style: oblique"><center><botton>Add Word</botton></center></a>
    <a href="/Quize/" style="color: rgb(247, 248, 174); font-size:xx-large;font-style: oblique"><center><botton>Quize</botton></center></a>

  </body>
</html>